.formStyle{
  margin-left: 10%;
  margin-right:10%;
  margin-top: 1%;
}

.search_bar{
    margin-bottom: 1%;
}

.search_button{
    margin-left: 50%;
    
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #1f2323;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #ffffff;
}


.styled-table tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}



.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #131515;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #111412;
    height:36px;
  }
  
  .searchTerm:focus{
    color: #283132;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #202424;
    background: #1f2323;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  