
.OuterMapContainer {
  display: flex;
  border: solid 10px;
  justify-content: right;
  align-items: right;
  height: 75vh;
  width: 80vw;
  float: right;
}
.map {
  display: flex;
  height: 100%;
  width: 100%;
}

.marker {
  background-image: url('../../images/driverlogo.png');
  background-size: cover;
  width: 38px;
  height: 38px;
  
  border-radius: 11px;
 
}

.marker-delivery {
  background-image: url('../../images/package.png');
  background-size: cover;
  width: 38px;
  height: 38px;

  border-radius: 15px;
  
}